################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/obj
